:root {
  --primary-color: rgb(226, 212, 212);
  --secondary-color: rgb(170, 170, 170);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 10px;
}

/* GLOBAL STYLING */

.grid-child-prim-color {
  background-color: var(--primary-color);
  cursor: pointer;
}

.grid-child-second-color {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.main-navigation {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.info-section,
ul {
  display: flex;
  padding: 3px;
}

.info-section,
ul,
li,
a {
  list-style: none;
  margin-left: 0px;
  margin-right: 8px;
  margin-top: 5px;
  text-decoration: none;
  font-size: 15px;
}

.acount-section,
ul,
li,
a {
  list-style: none;
  margin-left: 0px;
  margin-top: 5px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: black;
}

.main-section {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: center;
  grid-gap: 10px;
}

.box1 {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  place-items: center;
  height: 150px;
  border: 0.5px solid black;
  cursor: pointer;
  position: relative;
}

.box1 h3 {
  z-index: 1;
}

.box1 .diag1 {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 0, 49% 52%, 0 100%);

  background: var(--secondary-color);
}

.box1 .diag2 {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 52% 53%, 100% 100%);
  background: var(--secondary-color);
}

.small-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  grid-gap: 5px;
}

.box2 {
  background-color: var(--primary-color);
  height: 100px;
  border: 1px solid black;
  text-align: center;
  display: flex;
  justify-content: center;
  place-items: center;
  cursor: pointer;
  position: relative;
}

.box2 h3 {
  z-index: 1;
}

.box2 .diag1 {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 0, 49% 52%, 0 100%);

  background: var(--secondary-color);
}

.box2 .diag2 {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 52% 53%, 100% 100%);
  background: var(--secondary-color);
}

.box3 {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  place-items: center;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
}

.box3 h3 {
  z-index: 1;
}

.box3 .diag1 {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 0, 49% 52%, 0 100%);

  background: var(--secondary-color);
}

.box3 .diag2 {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 52% 53%, 100% 100%);
  background: var(--secondary-color);
}

.box-style {
  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  place-items: center;
  border: 1px solid black;
  width: 195px;
  height: 40px;
  background-color: var(--secondary-color);
}

/* CATEG-AREA */

.categories-area {
  margin-top: 15px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: grey;
}

.categ {
  border-right: 0.5px solid black;
  height: 100%;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

/* SEARCH-AREA */

.search-area {
  margin-top: 15px;
  background-color: var(--secondary-color);
  padding: 15px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.search-area input {
  padding: 8px;
  width: 75%;
}

.search-area p {
  margin-top: 35px;
}

.btn {
  padding: 15px;
  font-size: 1em;
}

/* GRID TEAMPLEATE AREA */

.grid-teamplate {
  margin-top: 50px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.inner {
  border: 0.5px solid grey;
  position: absolute;
  top: -25px;
  left: 0;
  background-color: var(--secondary-color);
}

.grid-child {
  display: flex;
  justify-content: center;
  place-items: center;
  text-align: center;
  height: 200px;
  border: 1px solid black;
  position: relative;
}

.grid-child h3 {
  z-index: 1;
}

.grid-child .diag1 {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 0, 49% 52%, 0 100%);

  background: var(--secondary-color);
}

.grid-child .diag2 {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 52% 53%, 100% 100%);
  background: var(--secondary-color);
}

.grid-child6 {
  display: flex;
  place-items: center;
  justify-content: center;
  text-align: center;
  grid-column: 2/4;
  grid-row: 2/4;
  border: 1px solid black;
}

.grid-child11 {
  display: flex;
  justify-content: center;
  place-items: center;
  background-color: var(--primary-color);
  grid-column: 2/4;
  border: 1px solid black;
  position: relative;
}
.grid-child11 h3 {
  z-index: 1;
}

.grid-child11 .diag1 {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 0, 49% 52%, 0 100%);

  background: var(--secondary-color);
}

.grid-child11 .diag2 {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 52% 53%, 100% 100%);
  background: var(--secondary-color);
}

/* FOOTER */

.footer-warpper {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-warpper .options {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

/* MEDIA QUERIES */
@media all and (max-width: 500px) {
  .acount-section {
    display: none;
  }

  .info-section {
    margin: 0 auto;
  }

  .main-section {
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    align-items: center;
  }

  .box1,
  .box3 {
    display: none;
  }

  .footer-warpper .options {
    display: none;
  }
}

.grid-child hr {
  transform: rotate(35deg);
  position: absolute;
  color: black;
  width: 100%;
}
